</head>
<body>
  <nav>
    <a 
      href="/flights/new" <%- title === 'Add Movie' ? 'class="active"' : "" %>
    >ADD FLIGHT</a>
    <a 
      href="/movies" <%- title === 'All Movies' ? 'class="active"' : "" %>
    >ALL FLIGHTS</a>
  </nav>