<%- include('./partials/html-head') %>
<link rel="stylesheet" href="stylesheets/style.css">
<%- include('./partials/nav') %>

<body>
  <h1><%= title %></h1>
  <a href="flights/new">Add a Flight!</a>
  <a href="flights">All Flights</a>
</body>
</html>
