<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Enter a Flight</h1>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option selected value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  <label>Flight Number:
    <input type="number" min="10" max="9999" name="flightNo">
  </label><br>
  </label><br>
  <label>Departure Date:
    <input type="datetime-local" name="departs">
  </label><br>
  <button type="submit">ADD FLIGHT</button>
</form>

<%- include('../partials/footer') %>